<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenCart Selenium Suite" verbose="1">
    <test name="OpenCart Spaghetti vs POM">
        <classes>
            <class name="com.reservassk.tests.OpenCartSpaghettiTest"/>
            <class name="com.reservassk.tests.OpenCartPomTest"/>
        </classes>
    </test>
</suite>
